name: Saramin Scraper

on:
  workflow_dispatch: # 버튼을 눌러 수동 실행 가능하게 함

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Scraper
      run: python scraper.py

    - name: Upload result CSV
      uses: actions/upload-artifact@v4
      with:
        name: crawled-data
        path: saramin_results.csv
